CompileFlags:
    Remove:
        - "-fstrict-volatile-bitfields"
        - "-fno-tree-switch-conversion"
        - "-fno-shrink-wrap"
        - "-fno-malloc-dce"
        - "-fzero-init-padding-bits=all"
        - "-mlongcalls"
        - "--target=xtensa-esp-elf"
        - "-mfix-esp32-psram-cache-issue"
        - "-mfix-esp32-psram-cache-strategy=.*"
    CompilationDatabase: build

Diagnostics:
    UnusedIncludes: None
